alembic
bcrypt
blinker
cachelib
click
email-validator
Flask
Flask-Caching
Flask-Cors
Flask-Login
Flask-Migrate
Flask-OAuthlib
Flask-SQLAlchemy
Flask-WTF
flask-dance==7.1.0
gunicorn
itsdangerous
Jinja2
MarkupSafe
oauthlib>=3.2  
psycopg2-binary
requests
requests-oauthlib
SQLAlchemy
Werkzeug
WTForms
flask_bcrypt
flask_jwt_extended
python-dotenv
requests
google-auth
google-auth-oauthlib

