alembic
bcrypt
blinker
cachelib
cachetools
certifi
charset-normalizer
click
colorama
distlib
dnspython
email_validator
filelock
Flask
Flask-Bcrypt
flask-cors
Flask-Dance
Flask-JWT-Extended
Flask-Login
Flask-Mail
Flask-Migrate
Flask-OAuthlib
Flask-SQLAlchemy
Flask-WTF
google-auth
google-auth-oauthlib
greenlet
idna
itsdangerous
Jinja2
Mako
MarkupSafe
packaging
pip
pipdeptree
platformdirs
playsound
pyasn1
pyasn1_modules
PyJWT
python-dotenv
requests
requests-oauthlib
rsa
SQLAlchemy
typing_extensions
urllib3
URLObject
virtualenv
Werkzeug
WTForms
